:root {
  --Mobile: 375px;
  --Desktop: 1440px;

  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);

  --ff-headings: "Poppins", sans-serif;
  --ff-regular: "Open Sans", sans-serif;

  --fw-regular: 400;
  --fw-bold: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background:  var(--Violet);
  color: white;
  font-family: var(--ff-regular);
  font-weight: var(--fw-regular);
  font-size: 1.0625rem;
  text-align: center;
}

main{
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  display: grid;
  gap: 3.75rem;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem 2.5rem;
}

.logo-image{
  width: 45%;
}

.main-image{
  margin-top: 4rem;
}

h1{
  font-family: var(--ff-headings);
  font-weight: var(--fw-bold);
  font-size: 1.625rem;
}

p{
  margin-top: 0.875rem;
}

button{
  margin-top: 1.25rem;
  font-size: 0.8125rem;
  background: white;
  color: var(--Violet);
  padding: 0.75em 6em;
  border-radius: 5em;
  cursor: pointer;
  border: transparent;
  transition: background 250ms ease-out,
 color 250ms ease-out;
}

button:hover{
  background: var(--Soft-Magenta);
  color: white;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 6rem;
}

.social-link{
  position: relative;
  fill: rgb(255, 255, 255);
  border-radius: 50%;
  outline: 1px solid white;
  outline-offset: 0.4375rem;
  transition: fill 250ms ease-out,
  outline-color 250ms ease-out;
}

.social-link:hover{
  fill: var(--Soft-Magenta);
  outline-color: var(--Soft-Magenta);
}


.ionicon {
  width: 0.9375rem;
}

footer{
  margin-top: 4rem;
}

.attribution{
  padding-block: 0 2rem;
  font-size: 0.75rem;
  color: hsl(0, 0%, 100%);
}

.attribution a{
  color: hsl(0, 0%, 80%);
  transition: color 250ms ease-out;
}

.attribution a:hover{
  color: hsl(0, 0%, 100%);
}

@media (min-width: 1000px){
  body{
    text-align: left;
    font-size: 1.125rem;
  }
  main{
    position: relative;
    background-image: url(../images/bg-desktop.svg);
    grid-template-columns: 4fr 3fr;
    gap: 0;
    place-items: center;
    padding: 2.25rem 3rem;
    max-width: var(--Desktop);
  }

  .logo-image{
    width: 30%;
    margin-bottom: 6rem;
  }

  .content-group{
    width: 90%;
    margin: 0 auto 0 1.5rem;
  }

  h1{
    font-size: 2.5rem;
  }

  button{
    font-size: 1.125rem;
    padding: 0.75em 3.75em;
  }

  .social-icons{
    position: absolute;
    inset: auto 5rem 2.5rem auto;
  }

  .ionicon {
    width: 1.5rem;
  }

  footer{
    margin-top: 0;
  }

  .attribution{
    padding-block: 1rem;
    padding-inline: 4rem;
    font-size: 0.8125rem;
  }
}
